# Copy this file to .env and fill in your values.
# NEVER commit .env to version control.

MONGO_URL=mongodb+srv://<username>:<password>@<cluster>.mongodb.net/<dbname>?retryWrites=true&w=majority&appName=<AppName>
PORT=3002
